/* 공통적으로 사용하는 스타일을 모아놓았습니다.*/

@font-face {
  font-family: "GlobalFont";
  src: url("./asset/font/Freesentation.ttf");
}

body {
  margin: 0;
  font-family: GlobalFont;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
